body {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  border-radius: 8px;
}

.dice {
  height: 32px;
  width: 32px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  flex-direction: column;
}

.block.snake .to {
  color: red;
}

.block.ladder .to {
  color: blue;
}

.block.highlighted {
  background-color: rgba(255, 0, 242, 0.3);
}

table, th, td, .out {
  border: 1px solid gray;
  border-spacing: 0;
  border-collapse: collapse;
}